In [ ]:
pip install plotly

Collecting plotly
  Downloading plotly-6.0.1-py3-none-any.whl.metadata (6.7 kB)
Collecting narwhals>=1.15.1 (from plotly)
  Downloading narwhals-1.35.0-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: packaging in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from plotly) (24.1)
Downloading plotly-6.0.1-py3-none-any.whl (14.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.8/14.8 MB 21.7 MB/s eta 0:00:00a 0:00:01
Downloading narwhals-1.35.0-py3-none-any.whl (325 kB)
Installing collected packages: narwhals, plotly

In [1]:
import pandas as pd
import plotly.graph_objects as go
import numpy as np

In [13]:

day = 4
df = pd.read_csv(f"./round-5-island-data-bottle/observations_round_5_day_{day}.csv", sep=",", header=0)

In [14]:
df.head()

,timestamp,bidPrice,askPrice,transportFees,exportTariff,importTariff,sugarPrice,sunlightIndex
0,0,798.5,800.0,1.7,9.5,-5.5,212.000000,55.00
1,100,792.0,793.5,1.7,9.5,-5.5,211.915751,55.00
2,200,790.0,791.5,1.7,9.5,-5.5,211.951508,55.01
3,300,788.0,789.5,1.7,9.5,-5.5,211.603936,55.02
4,400,783.5,785.0,1.7,9.5,-5.5,211.387838,55.02

In [16]:
df['midPrice'] = (df['bidPrice'] + df['askPrice'])/2

In [17]:
df = df[['timestamp','midPrice','transportFees', 'exportTariff', 'importTariff','sugarPrice', 'sunlightIndex']]

In [18]:
df.head()

,timestamp,midPrice,transportFees,exportTariff,importTariff,sugarPrice,sunlightIndex
0,0,799.25,1.7,9.5,-5.5,212.000000,55.00
1,100,792.75,1.7,9.5,-5.5,211.915751,55.00
2,200,790.75,1.7,9.5,-5.5,211.951508,55.01
3,300,788.75,1.7,9.5,-5.5,211.603936,55.02
4,400,784.25,1.7,9.5,-5.5,211.387838,55.02